<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <form (submit)="submit()" [formGroup]="form" class="col-md-5 d-flex flex-column mt-5">
      <div class="form-group">
        <label for="filmes">Filme</label>
        <input formControlName="filme" type="text" class="form-control" id="filmes" aria-describedby="emailHelp" >
      </div>
      <div class="form-group">
        <label for="generos">Genero</label>
        <input formControlName="genero" type="text" class="form-control" id="generos">
      </div>
      <div class="form-group">
        <label for="classificacao">Classificacao</label>
        <input formControlName="classificacao" type="text" class="form-control" id="classificacao" aria-describedby="emailHelp" >
      </div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <input formControlName="valor" type="text" class="form-control" id="valor">
      </div>
      <div class="form-check mb-3">
        <input formControlName="disponivel"type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Disponivel</label>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Filme</th>
            <th scope="col">Genero</th>
            <th scope="col">Classificacao</th>
            <th scope="col">Valor</th>
            <th scope="col">Disponivel</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filme of allFilmes">
            <th scope="row">{{filme.id}}</th>
            <td>{{filme.filme}}</td>
            <td>{{filme.genero}}</td>
            <td>{{filme.classificacao}}</td>
            <td>{{filme.valor}}</td>
            <td>{{filme.disponivel}}</td>

            <td class="d-flex">
              <button (click)="getByFilme(filme.id)" type="button" class="btn btn-info mr-2">Editar</button>
              <button (click)="getByFilme(filme.id, true)" type="button" class="btn btn-warning mr-2">Consultar</button>
              <button (click)="deleteFilme(filme.id)" type="button" class="btn btn-danger">Excluir</button>
            </td>

          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="row">
    <ul>
      <li>id: {{filme?.id}}</li>
      <li>filme: {{filme?.filme}}</li>
      <li>genero: {{filme?.genero}}</li>
      <li>classificacao:{{filme?.classificacao}} </li>
      <li>valor: {{filme?.valor}}</li>
      <li>disponivel: {{filme?.disponivel}}</li>
    </ul>
  </div>

</div>
